---
const modules = import.meta.glob('../members/*/index.mdx', { eager: true });
const members = Object.values(modules).map((mod: any) => mod.frontmatter);
---

<html>
    <head>
        <title>Members List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <h1>Members</h1>
    <ul>
        {members.map((member: any) => (
        <li>
            <a href={`/@${member.id}`}>{member.name}</a>
        </li>
        ))}
    </ul>
    </body>
</html>

