---
import Layout from '../layouts/Layout.astro';

const modules = import.meta.glob('../members/*/index.mdx', { eager: true });
const members = Object.values(modules).map((mod: any) => mod.frontmatter);
---

<Layout>
    <h1>Members</h1>
    <ul>
        {members.map((member: any) => (
        <li>
            <a href={`/@${member.id}`}>{member.name}</a>
        </li>
        ))}
    </ul>
</Layout>

